.sign-section {
    width: 100%;
}
.section-title {
    width: 100%;
    height: 110px;
    padding: 35px 25px;
    box-sizing: border-box;
}
.section-content {
    width: 100%;
}
.section-card {
    width: 330px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}
.card-title {
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.card-content {
    width: 100%;
    margin-top: 25px;
}